
<!-- Modal -->
<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">buiding log</h3>
    </div>
    <div class="modal-body">
        <textarea id="build_log" rows="10" style="width:98%" readonly></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<!-- Button to trigger modal 
<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Launch demo modal</a>
-->
