extends layout

block content
    div.container
        h1= title
        p Welcome to #{title}
        table.table.table-striped.table-condensed
            thead
                tr
                    th #
                    th name
                    th size
                    th date
                    th #
            tbody
                tr
                    td 1
                    td Mark
                    td Otta
                    td @mdo
                    td Jacob
                tr
                    td 2
                    td Mark
                    td Otta
                    td @mdo
                    td Jacob
                tr
                    td 3 
                    td Mark
                    td Otta
                    td @mdo
                    td Jacob
