extends layout

block nav.info
  li.active
    a(href='/info') info 

block content
  div.container
    div.alert.alert-info
      strong host's info
      pre
        |ssh: #{conf.ssh_url}
        |proxy: #{conf.proxy_url}
        |goagent: #{conf.http_url}agentfetch
        |wallproxy: #{conf.http_url}wallfetch
